spring:
  datasource:
    url: jdbc:mysql://localhost:3306/tracker_allocations_dev?user=root&useSSL=false&useTimezone=true&serverTimezone=UTC&useLegacyDatetimeCode=false
server:
  port: 8081

registraton:
  server:
    endpoint: http://localhost:8083