spring:
  profiles:
    active: local
management:
  endpoint:
    health:
      show-details: always
endpoints:
    web:
      exposure:
        include: "*"

security:
  oauth2:
    client:
      grant-type: client_credentials